body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 100px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-column {
    flex: 1;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin-bottom: 10px;
    }
}
